<!DOCTYPE html>
<html lang="en">
<head>
    <!--设置网页编码格式 -->
    <meta charset="UTF-8">
    <!-- 设置网页标题-->
    <title>Title</title>
    <!--js的使用放方式：1. 引入js文件  在js中写代码 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js" type="javascript"></script>
    <script>
        //2.这里写js代码：html中，直接写js
    </script>
    <!--css的使用方式  1.引入css文件 -->
    <link rel="stylesheet" href="css文件路径">
    <!-- c2. 直接在html里写css样式-->
    <style>

    </style>
</head>
<!--body标签   -->
<body>

</body>
</html>